@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #ededed;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Alexandria';
  src: url('/fonts/Alexandria-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.list-image-check {
  list-style-image: url('../public/dashboard/list-dot.png'); /* path to your image */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Alexandria', sans-serif;
}
.cl-cardBox{
  /* margin-top: 10px !important; */
  box-shadow: none !important;
  /* border-width: 1px;
  border-color: #ACACAC; */
  background-color: white !important;
}
.cl-internal-xywyrm{
  width: 33rem;
}
.cl-card {
  width: 33rem !important; 
  max-width: 100% !important; 
  padding: 30px !important;
  height: 100px !important;
  box-shadow: none;

}
.cl-socialButtons{
  gap: 8px !important;
}
.cl-socialButtonsIconButton {
  height: 44px !important;
}
.cl-headerTitle {
  font-size: 0px !important; 
  display: none;
}
.cl-headerSubtitle {
  font-size: 0px !important; 
  display: none;
}
.cl-internal-1dauvpw{
  height: 0px !important;
  display: none;
}

.cl-footer{
  background-color: white !important;
  /* visibility:hidden; */
}
.cl-footerAction{
  background-color: white;
  display: flex !important;
  justify-content: center;
  width: 33rem;
}
